<div class="container row mx-auto g-4 mt-3">
  <div class="col-6 col-md-4 col-xxl-2">
    <div class="card rounded-0 border-0">
      <img class="d-md-none d-block ajuste-imagem" src="/images/casal-noivos.jpg" alt="Foto de um casal de noivos">
      <img class="d-none d-md-block d-xl-none ajuste-imagem" src="/images/casal-noivos.jpg" alt="">
      <img class="d-none d-xl-block ajuste-imagem" src="/images/casal-noivos.jpg" alt="">
    </div>
  </div>

  <div class="col-6 col-md-4 col-xxl-2">
    <div class="card rounded-0 border-0">
      <img class="d-md-none d-block ajuste-imagem" src="/images/vestido-cor-bege.jpg" alt="Foto de uma mulher com um vestido bege">
      <img class="d-none d-md-block d-xl-none ajuste-imagem" src="/images/vestido-cor-bege.jpg" alt="">
      <img class="d-none d-xl-block ajuste-imagem" src="/images/vestido-cor-bege.jpg" alt="">
    </div>
  </div>

  <div class="col-6 col-md-4 col-xxl-2">
    <div class="card rounded-0 border-0">
      <img class="d-md-none d-block ajuste-imagem" src="/images/vestido-cor-ciano.jpg" alt="Foto de uma mulher com um vestido ciano">
      <img class="d-none d-md-block d-xl-none ajuste-imagem" src="/images/vestido-cor-ciano.jpg" alt="">
      <img class="d-none d-xl-block ajuste-imagem" src="/images/vestido-cor-ciano.jpg" alt="">
    </div>
  </div>

  <div class="col-6 col-md-4 col-xxl-2">
    <div class="card rounded-0 border-0">
      <img class="d-md-none d-block ajuste-imagem" src="/images/vestido-cor-de-pele.jpg" alt="Foto de uma mulher com um vestido cor de pele">
      <img class="d-none d-md-block d-xl-none ajuste-imagem" src="/images/vestido-cor-de-pele.jpg" alt="">
      <img class="d-none d-xl-block ajuste-imagem" src="/images/vestido-cor-de-pele.jpg" alt="">
    </div>
  </div>

  <div class="col-6 col-md-4 col-xxl-2">
    <div class="card rounded-0 border-0">
      <img class="d-md-none d-block ajuste-imagem" src="/images/vestido-cor-preta.jpg" alt="Foto de uma mulher com um vestido preto">
      <img class="d-none d-md-block d-xl-none ajuste-imagem" src="/images/vestido-cor-preta.jpg" alt="">
      <img class="d-none d-xl-block ajuste-imagem" src="/images/vestido-cor-preta.jpg" alt="">
    </div>
  </div>

  <div class="col-6 col-md-4 col-xxl-2">
    <div class="card rounded-0 border-0">
      <img class="d-md-none d-block ajuste-imagem" src="/images/yta-amigas-vestido-azul-e-branco.jpg" alt="Foto de uma mulher com um vestido azul e branco">
      <img class="d-none d-md-block d-xl-none ajuste-imagem" src="/images/yta-amigas-vestido-azul-e-branco.jpg" alt="">
      <img class="d-none d-xl-block ajuste-imagem" src="/images/yta-amigas-vestido-azul-e-branco.jpg" alt="">
    </div>
  </div>
</div>
