<section class="pb-4">
  <div class="container mx-auto text-center mt-5">
    <div>
      <h1>Controle de Estoque e Aluguel</h1>
      <h2>Realize o Login para poder acessar as operações </h2>
  
      <!-- <h4>Não tem cadastro? clique <a href="src/app/componentes/cadastro/cadastro.component.html">aqui</a> para realizar o cadastro</h4> -->
      <h4>Não tem cadastro? clique <a href="src/app/componentes/cadastro/cadastro.component.html" data-bs-toggle="modal" data-bs-target="#modalCadastro">aqui</a> para realizar o cadastro</h4>

    </div>
  </div>
</section>
